<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'courses'}); -%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto p-3 border-right">
          <nav class="nav nav-pills flex-column">
            <%_ for (const id of courseIDs) { -%>
              <%_ const status = (id === course.id) ? 'active bg-dark' : 'inactive'; -%>
              <a href="/courses/<%= id -%>" class="nav-item nav-link <%= status -%>"><%= id -%></a>
            <%_ } -%>
          </nav>
          <%_ if (admin) { -%>
            <form id="create" class="form my-1">
              <input type="text" name="_id" placeholder="CS###" size="1" class="form-control">
            </form>
          <%_ } -%>
        </div>
        <div class="col">
          <main class="p-3">
            <%_ if (admin) { -%>
              <%- include('./edit', {course: course, courseIDs: courseIDs}); -%>
            <%_ } else { -%>
              <%- include('./browse', {course: course}); -%>
            <%_ } -%>
          </main>
        </div>
      </div>
    </div>
    <%_ if (admin) { -%>
      <%- include('./scripts', {course: course}); -%>
    <%_ } -%>
  </body>
</html>
