<%_ for (const section of sections) { -%>
  <form id="<%= section.id -%>" class="form-inline">
    <select name="course" class="form-control form-control-sm m-1">
      <%_ for (const course of courseIDs) { -%>
        <%_ const status = (course === section.course) ? 'selected' : 'unselected'; -%>
        <option <%= status -%> value="<%= course -%>"><%= course -%></option>
      <%_ } -%>
    </select>
    <select name="day" class="form-control form-control-sm m-1">
      <%_ for (const day of days) { -%>
        <%_ const status = (day === section.day) ? 'selected' : 'unselected'; -%>
        <option <%= status -%> value="<%= day -%>"><%= day -%></option>
      <%_ } -%>
    </select>
    <input type="time" name="time" value="<%= section.time24 -%>" class="form-control form-control-sm m-1">
    <input type="text" name="instructor" value="<%= section.instructor -%>" class="form-control form-control-sm m-1">
    <button class="update btn btn-sm btn-primary m-1">Save</button>
    <button class="delete btn btn-sm btn-primary m-1">Delete</button>
  </form>
<%_ } -%>
<button id="insert" class="btn btn-sm btn-primary m-1">New section</button>
