<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'sections'}); -%>
    <main class="p-3">
      <%_ if (admin) { -%>
        <%- include('./edit', {sections: sections}); -%>
      <%_ } else { -%>
        <%- include('./browse', {sections: sections, order: order}); -%>
      <%_ } -%>
    </main>
    <%_ if (admin) { -%>
      <%- include('./scripts'); -%>
    <%_ } -%>
  </body>
</html>
