<button id="insert" class="btn btn-primary">Add a New Question</button>
<h3> Unanswered Questions</h3>
<%_ for (const qa of qas) { -%>
  <%_ if (!qa.answer) { -%>
    <form id="<%= qa.id -%>" style="margin-bottom: 10px;">
          <input type="text" name="question" placeholder="Question" value="<%= qa.question -%>" class="form-control mb-10">
          <textarea name="answer" placeholder="Answer" rows="3" class="form-control mb-10"><%= qa.answer -%></textarea>
          <button class="btn btn-primary update">Save</button>
          <button class="delete btn btn-primary">Delete</button>
    </form>
    <%_ } -%>
<%_ } -%>
<h3> Answered Questions</h3>
<%_ for (const qa of qas) { -%>
  <%_ if (qa.answer) { -%>
    <form id="<%= qa.id -%>" style="margin-bottom: 10px;">
          <input type="text" name="question" placeholder="Question" value="<%= qa.question -%>" class="form-control mb-10">
          <textarea name="answer" placeholder="Answer" rows="3" class="form-control mb-10"><%= qa.answer -%></textarea>
          <button class="btn btn-primary update">Save</button>
          <button class="delete btn btn-primary">Delete</button>
    </form>
    <%_ } -%>
<%_ } -%>
