<form id="update" class="form">
  <input type="text" name="title" placeholder="Title" value="<%= qas[0].question -%>" class="form-control form-control-lg font-weight-bold mb-1">
  <textarea name="description" placeholder="Description" rows="3" class="form-control mb-1"><%= qas[0].answer -%></textarea>
  <select multiple name="prereqs" size="<%= qas.length -%>" class="form-control w-auto mb-1">
    <%_ for (const q of qas) { -%>
      <%_ const status = q.question.includes(q) ? 'selected' : (id < q.id) ? 'unselected' : 'disabled'; -%>
      <option <%= status -%> value="<%= id -%>">qa: <%= id -%></option>
    <%_ } -%>
  </select>
  <button class="btn btn-primary">Save</button>
  <button id="delete" class="btn btn-primary">Delete</button>
</form>
