<!DOCTYPE html>
<html>
<%- include('../head'); -%>
<body>
  <%- include('../navbar', {active: 'qas'}); -%>
  <div class="container-fluid">
    <div class="col">
      <main class="p-3">
        <%_ for (const id of qaId) { -%>
          <h2><a href="/qas/<%= id -%>"<%= qa.question -%></a></h2>
          <p><p><%= qa.answer -%></p></p>
        <%_ } -%>
        </main>
      </div>
    </div>
  </div>
</body>
</html>
