<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'qa'}); -%>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <main class="p-3">
            <%_ if (admin) { -%>
              <%- include('./edit', {qas: qas }); -%>
            <%_ } else { -%>
              <%- include('./browse', {qas: qas,keyword:keyword}); -%>
            <%_ } -%>
          </main>
        </div>
      </div>
    </div>
    <%- include('./scripts', {qas: qas}); -%>
  </body>
</html>
