<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'qas'}); -%>
    <main>
      <div class="container-fluid">
        <div class="col">
          <div class="col-auto p-3 border-right">
            <%_ if (admin) { -%>
              <%- include('./edit', {question:question,answer:answer},); -%>
            <%_ } else { -%>
              <%- include('./browse', {qas: qas}); -%>
            <%_ } -%>
            </div>
          </div>
        </div>
      </main>
    </div>
    <%_ if (admin) { -%>
      <%- include('./scripts', {qas: qas}); -%>
    <%_ } -%>
  </body>
</html>
