<main class="p-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">County</th>
        <th scope="col">
          <button id="sort" class="btn btn-primary" name="button">Date</button>
        </th>
        <th scope="col">Confirmed</th>
        <th scope="col">Death</th>
      </tr>
    </thead>
    <tbody>
      <%_ for (const statistic of statistics) { -%>
        <form id="<%= statistic.id -%>">
        <tr>
          <th scope="row"><%= statistic.county -%></th>
          <td><%= statistic.date -%></td>
          <td><%= statistic.confirmed -%></td>
          <td><%= statistic.death -%></td>
        </tr>
        </form>
      <%_ } -%>
    </tbody>
  </table>
</main>
<button id="insert" class="btn btn-sm btn-primary m-1">New statistic</button>
