<main class="p-3">
  <form class="form-inline"  style="margin-bottom: 20px;">
    <label class="my-1 mr-2" for="countySelect">County</label>
    <select name="county" class="form-control form-control-sm m-1" id="countySelect">
      <%_ for (const statistic of statistics) { -%>
        <%_ const status = (statistic === statistic.county) ? 'selected' : 'unselected'; -%>
        <option <%= status -%> value="<%= statistic.county -%>"><%= statistic.county -%></option>
      <%_ } -%>
    </select>
    <label class="my-1 mr-2" for="dateinput">Date</label>
    <input type="date" class="form-control form-control-sm m-1" name="date" id="dateinput">
    <label class="my-1 mr-2" for="confirmedinput">Confirmed</label>
    <input type="number" class="form-control form-control-sm m-1" name="confirmed" id="confirmedinput">
    <label class="my-1 mr-2" for="deathinput">Death</label>
    <input type="number" class="form-control form-control-sm m-1" name="death" id="deathinput">
    <button class="create btn btn-sm btn-primary m-1">Save</button>
  </form>
  <table class="table" style="margin-top: 20px;">
    <thead>
      <tr>
        <th scope="col">County</th>
        <th scope="col">Date</th>
        <th scope="col">Confirmed</th>
        <th scope="col">Death</th>
      </tr>
    </thead>
    <tbody>
      <%_ for (const statistic of statistics) { -%>
        <form id="<%= statistic.id -%>">
        <tr>
          <th scope="row"><%= statistic.county -%></th>
          <%_ const current_date = statistic.date -%>
          <%_ const formatted_date = current_date.getFullYear() + "-" + (current_date.getUTCMonth() + 1) + "-" + current_date.getUTCDate() -%>
          <td><%= formatted_date -%></td>
          <td><%= statistic.confirmed -%></td>
          <td><%= statistic.death -%></td>
        </tr>
        </form>
      <%_ } -%>
    </tbody>
  </table>
</main>
