<main class="p-3">
  <form class="form-inline">
    <label class="my-1 mr-2" for="countySelect">County</label>
    <select name="county" class="form-control form-control-sm m-1" id="countySelect">
      <%_ for (const statistic of statistics) { -%>
        <%_ const status = (statistic === statistic.county) ? 'selected' : 'unselected'; -%>
        <option <%= status -%> value="<%= statistic -%>"><%= statistic -%></option>
      <%_ } -%>
    </select>
    <input type="text" class="form-control form-control-sm m-1" name="county">
    <input type="text" class="form-control form-control-sm m-1" name="date">
    <input type="text" class="form-control form-control-sm m-1" name="confirmed">
    <input type="text" class="form-control form-control-sm m-1" name="death">
    <button class="create btn btn-sm btn-primary m-1">Save</button>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">County</th>
        <th scope="col">Date</th>
        <th scope="col">Confirmed</th>
        <th scope="col">Death</th>
      </tr>
    </thead>
    <tbody>
      <%_ for (const statistic of statistics) { -%>
        <form id="<%= statistic.id -%>">
        <tr>
          <th scope="row"><%= statistic.county -%></th>
          <td><%= statistic.date -%></td>
          <td><%= statistic.confirmed -%></td>
          <td><%= statistic.death -%></td>
        </tr>
        </form>
      <%_ } -%>
    </tbody>
  </table>
</main>
