<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'statistics'}); -%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto p-3 border-right">
          <nav class="nav nav-pills flex-column">
            <%_ for (const id of statisticId) { -%>
              <%_ const status = (id === statistic.id) ? 'active bg-dark' : 'inactive'; -%>
              <a href="/statistics/<%= id -%>" class="nav-item nav-link <%= status -%>"><%= id -%></a>
            <%_ } -%>
          </nav>
        </div>
        <div class="col">
          <main class="p-3">
            <h2><%= statistic.county -%></h2>
            <p>Confirmed: <%= statistic.confirmed[0] -%></p>
            <p>Death: <%= statistic.death[0] -%></p>
            <p>Date: <%= statistic.day[0] -%></p>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
