<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'statistics'}); -%>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <main class="p-3">
            <%_ if (admin) { -%>
              <%- include('./edit', {statistics: statistics}, {counties: counties}); -%>
            <%_ } else { -%>
              <%- include('./browse', {statistics: statistics}); -%>
            <%_ } -%>
              </tbody>
            </table>
          </main>
        </div>
      </div>
    </div>
      <%- include('./scripts', {statistics: statistics}); -%>
  </body>
</html>
