<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'statistics'}); -%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto p-3 border-right">
          <nav class="nav nav-pills flex-column">
            <%_ for (const id of statisticId) { -%>
              <%_ const status = (id === statistic.id) ? 'active bg-dark' : 'inactive'; -%>
              <a href="/statistics/<%= id -%>" class="nav-item nav-link <%= status -%>"><%= id -%></a>
            <%_ } -%>
          </nav>
        </div>
        <div class="col">
          <main class="p-3">
            <h2><%= statistic.county -%></h2>
            <table class="table">
              <thead>
                <tr>
                  <th class="border-0"><a href="/statistics" class="btn <%= order === 'day' ? 'btn-dark' : 'btn-primary' -%>">Date</th>
                  <th class="border-0"><a href="/statistics" class="btn <%= order === 'confirmed' ? 'btn-dark' : 'btn-primary' -%>">Confirmed</th>
                  <th class="border-0"><a href="/statistics" class="btn <%= order === 'death' ? 'btn-dark' : 'btn-primary' -%>">Death</th>
                </tr>
              </thead>
              <tbody>
                <%_ for (let i = 0; i < statistic.day.length; i++) { -%>
                  <tr>
                    <td><%= statistic.day[i] -%></td>
                    <td><%= statistic.confirmed[i] -%></td>
                    <td><%= statistic.death[i] -%></td>
                  </tr>
                <%_ } -%>
              </tbody>
            </table>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
